In [3]:
import pandas as pd
df = pd.read_excel("trail.xlsx")
df

   row  temp  wind
0    1    12    23
1    2    34    34
2    3    65    56

In [8]:
df = {
    'row' : [1,2,3],
    'temp': [12,34,65],
    'wind': [23,34,56]
}
df['weather'] = ['sunny','snow','rain']

df1 = pd.DataFrame(df)
df1

   row  temp  wind weather
0    1    12    23   sunny
1    2    34    34    snow
2    3    65    56    rain

In [14]:
data = [(1,12,23,"Sunny"), (2,34,34,"snow"),(3,65,56,"rain")]
df = pd.DataFrame(data,columns=['row','temp','wind','weather'])
df

   row  temp  wind weather
0    1    12    23   Sunny
1    2    34    34    snow
2    3    65    56    rain

In [15]:
df[df.temp == df.temp.max()]

   row  temp  wind weather
2    3    65    56    rain